.banner2{
  display: none;
  width: 100%;
}
.banner1{
  width: 100%;
}
@media only screen and (max-width: 768px)
{ 
  .banner1{
    display: none;
  }

  .banner2{
    display: block;
  }
}
h1{
  text-align: center;
  color: blue;
}
h5{
  text-decoration: underline red;
}

.photo{
  max-width: 100%;
  height: auto;
}

#articles .media{
  padding: 0,5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

#articles .media span{
  color:red;
  font-size: 3rem;
}
#articles .media:hover{
  background-color:rgba(128, 128, 128, 0.5);
}
