/* Déclaration de mes 2 Bannièere
La bannière2 ne s'affichage pas en mode normal elle s'affice en mode réduit
lorsque l'on passe sur un peit écran grâce au @media Querie*/
.banner2{
  display: none;
  width: 100%;
}
.banner1{
  width: 100%;
}
.banner3{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 768px)
{ 
  .banner1{
    display: none;
  }

  .banner2{
    display: block;
  }
  .banner3{
    display: none;
  }
}
/* Déclaration Style de mes titres*/
h1{
  text-align: center;
  color: blue;
}
h5{
  text-decoration: underline red;
}

/* Pour que mes photos soient identique: page accueil*/
.photo{
  padding: 1rem;
  max-width: 100%;
  height: auto;
}

/*Zoom sur mes photos: page evenement*/
.zoom p {
  display:block;
  padding-top: 1rem;
  text-align:center;
  }
.zoom img {
  width:200px;
  height:267px;
  transition: all 1s ease;
  }
  .zoom img:hover {
  width:auto;
  height:auto;
  transform:scale(1);
  }