/* Déclaration de mes 2 Bannièere
La bannière2 ne s'affichage pas en mode normal elle s'affice en mode réduit
lorsque l'on passe sur un peit écran grâce au @media Querie*/
.banner2{
  display: none;
  width: 100%;
}
.banner1{
  width: 100%;
}
@media only screen and (max-width: 768px)
{ 
  .banner1{
    display: none;
  }

  .banner2{
    display: block;
  }
}
/* Déclaration Style de mes titres*/
h1{
  text-align: center;
  color: blue;
}
h5{
  text-decoration: underline red;
}

/* Pour que mes photos soient identique*/
.photo{
  max-width: 100%;
  height: auto;
}
